<!-- <h1>Hello World</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test-01</title>
</head>
<body>
    {% if name %}
        <h1>Hello {{ name }}</h1>
    {% else %}
        <h1>Hello World</h1>
    {% endif %}

{% if products %}

    {% for product in products %}
        <li>The Product Title: {{ product.title }}</li>

        {% if product.collection__title %}
            <li>The Collection Title: {{ product.collection__title }}</li>
        {% endif %}

        <hr />
        <!-- <li>{{ product.description }}</li> -->
        <!-- <hr> -->
    {% endfor %}

{% endif %}

{% if products_list %}

    {% for product in products_list %}
        <li>{{ product }}</li>

        <hr />
    {% endfor %}

{% endif %}
</body>
</html>

